.intro {
    height: 1080px;
    background-image: url('assets/images/Home.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
    }
  
    &__body {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: inherit;
      color: #fff;
      padding: 70px 0;
  
      h1 {
            size: 30px;
            margin-bottom: 30px;
            text-shadow: 2px 2px black;
        }
        h2 {
            size: 20px;
            color: #fff;
        }
        a {
            color: #fff;
            border: black;
        }
      p {
        max-width: 600px;
        text-align: center;
      }

    }

    &__userbody{
        display: flex;
        flex-direction: row;
        background-image: none;
        position: relative;
        height: inherit;
        margin-top: 10%;
        .container{
            margin-bottom: 50px;
        }
        .box-1{
            align-items: center;
            border: solid white;
            flex:1;
        }
        .box-2{
            border: solid white;
            flex: 1;
        }
    }

    
}