.userintro{
    height: 100%;
    background-image: url('assets/Home.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(50, 75, 187, 0.8);
        background-size: auto 100%;
    }
  
    &__userbody{
        position: relative;
        margin-top: 10%;
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        
        }
        .industries{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: white;
            border-radius: 20px;
        }
        .box-1{
            flex: 1;
            align-items: center;
            border: white;
            border-style: outset;
            border-radius: 30px;
            padding-top: 20px;
            padding-bottom: 50px;
            padding-left: 50px;
            padding-right: 50px;

            h1{
                size: 20px;
                color: white;
                text-shadow: 2px 2px black;
            }
            div{
                margin-left: 20%;
                h1{
                    size: 10px;
                    color: grey;
                    text-shadow: 2px 2px black;
                }
                button{
                    height: 10%;
                    width: 75%;
                    display:inline-block;
                    padding:0.35em 1.2em;
                    border:0.1em solid #FFFFFF;
                    margin:0 0.3em 0.3em 0;
                    border-radius:0.12em;
                    box-sizing: border-box;
                    text-decoration:none;
                    font-weight:300;
                    text-align:center;
                    transition: all 0.2s;
                
                }
                button:hover{
                    color:#000000;
                    background-color:#FFFFFF;
                }
                @media all and (max-width:30em){
                    button{
                    display:block;
                    margin:0.4em auto;
                    }
                }
                
            }
            form{
                height: 10px;
                margin-left: 45px;
                border: black;
                
            }
            input[type=text]{
                border: black;
                height: 30px;
            }
            input[type=submit]{
                height: 30px;
            }
        }
        .box-2{
            display: none;
            flex: 1;
            border: white;
            border-style: outset;
            border-radius: 30px;
            padding-top: 20px;
            padding-bottom: 50px;
            padding-left: 50px;
            padding-right: 50px;

            h1{
                size: 20px;
                color: white;
                text-shadow: 2px 2px black;
            }
        }
        .box-3{
            display: none;
            flex: 3;
            border: white;
            border-style: outset;
            border-radius: 30px;
            padding-top: 20px;
            padding-bottom: 50px;
            padding-left: 50px;
            padding-right: 50px;

            h1{
                size: 20px;
                color: white;
                text-shadow: 2px 2px black;
            }
        }
        .loader{
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100%{ transform: rotate(360deg);}
        }   
    
    }
}