@font-face {
    font-family: 'poppinsbold';
    src: url('assets/fonts/poppins-bold.eot');
    src: url('assets/fonts/poppins-bold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/poppins-bold.woff2') format('woff2'),
         url('assets/fonts/poppins-bold.woff') format('woff'),
         url('assets/fonts/poppins-bold.ttf') format('truetype'),
         url('assets/fonts/poppins-bold.svg#poppinsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsregular';
    src: url('assets/fonts/poppins-regular.eot');
    src: url('assets/fonts/poppins-regular.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/poppins-regular.woff2') format('woff2'),
         url('assets/fonts/poppins-regular.woff') format('woff'),
         url('assets/fonts/poppins-regular.ttf') format('truetype'),
         url('assets/fonts/poppins-regular.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}